<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>新增模板</title>
    <script src="/static/js/jquery-3.3.1.js"></script>
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<style type="text/css">
    body {background-image: url("http://pic.qiantucdn.com/58pic/19/31/37/91v58PICrAm_1024.jpg");
    background-size:cover;}
    input {width:500px;}
    textarea#add_content {width:500px; height:200px;}
    textarea#add_comment {width:500px; height:100px;}
</style>
<body>

{% from "_field.html" import render_field %}
{% import 'bootstrap/wtf.html' as wtf %}

<h1>新增模板</h1>
<div class="add-proto" align="center" style="width:1000px;height:600px;filter:Alpha(opacity=30)" height="500">
    <form  name="addProto" role="form" method="POST" action="" enctype="multipart/form-data">


</br>
    {{ render_field(form.add_name) }}
    {{ render_field(form.add_type) }}
    {{ render_field(form.add_content) }}
    {{ render_field(form.add_comment) }}

{{ render_field(form.add_submit) }}
        {{ form.csrf_token }}
</br>
 </form>
</div>

</body>
