<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>模板管理</title>
    <script src="/static/js/jquery-3.3.1.js"></script>
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<style type="text/css">
    body {background-image: url("http://pic.qiantucdn.com/58pic/19/31/37/91v58PICrAm_1024.jpg");
    background-size:cover;}


</style>

<script type="text/javascript">
        function getTableContent(node){
                    var tr1 = node.parentNode.parentNode;
                        window.alert("模板编号： "+tr1.cells[1].innerText+"\n"+"模板主题： "+tr1.cells[2].innerText+"\n"+"模板内容： "+tr1.cells[3].innerText+"\n"+"备注： "+tr1.cells[4].innerText);
        }

        function checkAll(name){
        var el = document.getElementsByTagName('input');
        var len = el.length;
        for(var i=0;i<len;i++){
        if((el[i].type=="checkbox")&&(el[i].name==name)){
        el[i].checked = true;}
        }
        }

        function clearAll(name){
        var el = document.getElementsByTagName('input');
        var len = el.length;
        for(var i=0;i<len;i++){
        if((el[i].type=="checkbox")&&(el[i].name==name)){
        el[i].checked = false;}
        }
        }



</script>

<body>


<table class="controllor" border="0" cellspacing="3" cellpadding="0">
        <tr>
            <td width="880"></td>
            <td class="control" id="add"><input id="add" type="button" value="新增" onclick="window.location.href='http://localhost:9000/addProto'" /></td>
            <td class="control" id="delete-select"><input id="delete-select" type="button" value="删除选中" /></td>
            <td class="control" id="delete-all"><input id="delete-all" type="button" value="删除所有" /></td>
        </tr>

<table class="list" width="1100" border="0" cellspacing="3" cellpadding="0">
        <tr>
            <td width ="66" class="td1" style="background-color:#F5F5F5;filter:Alpha(opacity=80)"><input name="selectall" id="checkOrCancelAll" type="checkbox" onClick="if(this.checked==true) { checkAll('select-item'); } else { clearAll('select-item'); }" /></td>
          <td width="88" class="td1" style="background-color:#F5F5F5;filter:Alpha(opacity=80)">模板编号</td>
          <td width="188" class="td1" style="background-color:#F5F5F5;filter:Alpha(opacity=80)">模板主题</td>
          <td width="312" class="td1" style="background-color:#F5F5F5;filter:Alpha(opacity=80)">模板内容</td>
          <td width="212" class="td1" style="background-color:#F5F5F5;filter:Alpha(opacity=80)">备注</td>
            <td class="td1"></td>
            <td class="td1"></td>
            <td class="td1"></td>
        </tr>
       <tbody id="proto">
       {% for i in u %}
        <tr id="protoline1">
            <td width ="66" class="td2"><input name="select-item" type="checkbox" value="" /> </td>
            <td width ="88" class="td2">{{ i[0] }}</td>
            <td width ="88" class="td2">{{ i[1] }}</td>
            <td width ="112" class="td2">{{ i[2] }}</td>
            <td width ="112" class="td2">{{ i[3] }}</td>
            <td class="td2"><input id="view" name="getTableContent" type="button" value="查看" onclick="getTableContent(this)" /></td>
            <td class="td2"><a href="{{ url_for('editProto',id=i[0]) }}"><input id="edit" type="button" value="编辑" /></a></td>
            <td class="td2"><a href="{{ url_for('deleteProto',id=i[0]) }}"><input id="delete" type="button" value="删除" /></a></td>
        </tr>
       {% endfor %}
       </tbody>
</table>



</body>
</html>